body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("Images/Slides/Background.png"); */
    background: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /* margin-top: 200px; */
    padding-top: 200px; /* not affecting anything inside border, so no weird ass bugs */
}

/* Font handling */
h1
{
    font-family: "Pixelify Sans", "Press Start 2", 'Courier New', Courier, monospace;
}
h4
{
    font-family: "Pixelify Sans", "Press Start 2", 'Courier New', Courier, monospace;
}
h2
{
    font-family: "Pixelify Sans", "Press Start 2", 'Courier New', Courier, monospace;
}
.Button_Holder button
{
    font-family: "Pixelify Sans", "Press Start 2", 'Courier New', Courier, monospace;
}

/*slider handler*/
.Slider_Wrapper {
    width: min(90vw, 800px);
    margin: 0 auto;
    position: relative;
    /*background decoration :>*/
    background-color: white;
    border: 4px solid blue; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    
    
}
.Slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
#Slide_1, #Slide_2, #Slide_3 ,#Slide_4 , #Slide_5, #Slide_6, #Slide_7, #Slide_8, #Slide_9, #Slide_10, #Slide_11, #Slide_12{
    flex: 0 0 100%;
    scroll-snap-align: start;
}
#Me_1, #Me_2, #Me_3, #Me_4, #Me_5, #Me_6,#Me_7
{
    flex: 0 0 100%;
    scroll-snap-align: start;
}
#Cert_1, #Cert_2, #Cert_3, #Cert_4, #Cert_5, #Cert_6, #Cert_7, #Cert_8, #Cert_9, #Cert_10, #Cert_11, #Cert_12, #Cert_13, #Cert_14
{
    flex: 0 0 100%;
    scroll-snap-align: start;
}
.Slider img {
    width: 100%;
    object-fit: cover;
}
.Slider_Navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}
.Slider_Navigation a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.Slider_Navigation a:hover {
    opacity: 1;
}


#Cert_1 img{
    object-fit: cover;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_2 img{
    object-fit: cover;
    object-position: center -90px !important;
}

#Cert_3 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_5 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_6 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_8 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_9 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_10 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_11 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_12 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}

#Cert_13 img{
    object-fit: contain;
    background-image: url(Assets/Slides/3aa46f5701fc6ed92234ea0a9f86e2cd.gif);
    background-position-x: -320px;
    backface-visibility: 30%;
    background-position-y: -285px;
}


/* Button handler*/
.Button_Holder a {
    display: inline-block;
    transition: transform 0.3s;
    transform: scale(1);
}
.Button_Holder a:hover {
    opacity: 1;
    transform: scale(1.05) perspective(1px)
}

.School_Testimonial
{
    background-color: rgb(242, 242, 242);
    border: 4px solid blue; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}
.Button_Holder img
{
    display: block; /*forces thing onto new line, noice!*/
    border: 2px grey; 
    border-radius: 2px;
    padding: 2px;
    height: auto;
}


h1,h2,h4 .Slider_Navigation {
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black; 
    /* format is x,y,thing(usually 0) and colour, do it 4 times for full outline as this is only shadow*/
    color: aliceblue;
}


